@font-face {
    font-family: Public Sans;
    src: url('../fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: Public Sans;
    font-size: 1.125rem;
}

.layout-container {

}

.header {

}

.navbar{

}

.navbar__logo {

}

.navbar__checkbox {

}

.navbar__input{

}

.navbar__menu-mobile {

}

.navbar__link {

}

.navbar__menu-desktop {

}

.navbar__link--desktop {

}

.navbar__btn {

}

.btn {

}

.main {

}

.main__container {

}

.main__title {

}

.main__text {

}

.main__btn {

}

.main__background-img {

}

.main__theme {

}

.main_hero-banner {

}

.services {

}

.services__header {

}

.services__title {

}

.services__description {

}

.services__body {

}

.services-card {

}

.services-card__img {

}

.services-card__title {

}

.services-card__text {

}

.articles {

}

.articles__title {

}

.articles__container {

}

.articles-card {

}

.articles-card__img {

}

.articles-card__body {

}

.articles-card__autor {

}

.articles-card__title {

}

.articles-card__text {

}

.footer {

}

.footer__first-container {

}

.footer__logo {

}

.footer__networks {

}

.footer__icon {

}

.footer__menu {

}

.footer__list-container {

}

.footer__list {

}

.footer__link {

}

.footer__btn {

}

.footer__rights {
    
}