body {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-layout {
    color:#000000 ;
}

.card {
    background-color: #ffffff;
    width: 432px;
    height: 399px;
    margin: 1.5em auto;
    border-radius: 15px;
}

.close {
    display: flex;
    justify-content: end;
}

.btn-close {
    display: flex;
    border: none;
    background: none;
    opacity: 0.3;
    font-size: 1.5em;
    margin: 1.2em 1.2em 0 0; 
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8em; 
}

.text_1 {
    width: 80%;
    text-align: center;
}

.text_2 {
    width: 60%;
    text-align: center;
}

.button_1 {
    border: none;
    background-color :#ed6755 ;
    border-radius: 8px;
    width: 45%;
    height: 45px;
    color: #ffffff;
    box-shadow: 0 7px 15px -5px #ed6755;
}

.button_2 {
    border: none;
    background-color:#2C3E50 ;
    border-radius: 8px;
    width: 45%;
    height: 45px;
    color: #ffffff;
    box-shadow: 0 7px 15px -5px #2c3e50;
    margin-top: 2em;
}
