body {
    margin: 0;
    background-color: #3c3744 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-card {
    width: 650px;
    display: flex;
    margin: 100px auto;
    border-radius: 20px;
}

.card-profile {
    padding: 30px;
    background-color: #fafafa;
    border-radius: 20px 0 0 20px;
}

.profile-img {
    width: 25%;
    height: auto;
    border-radius: 100%;
}

.data {
    list-style: none;
    line-height: 20px;
}

.github {
    width: 30px;
    height: 30px;
    opacity: 75%;
}

.github:hover {
    opacity: 100%;
}

.card-contact {
    padding: 15px;
    background-color: #006ec7;
    text-align: center;
    line-height: 25px;
    font-weight: bolder;
    border-radius: 0 20px 20px 0;
}

.contact {
    margin-top: 90px;
}

#nombre {
    border-radius: 5px;
}

#email {
    border-radius: 5px;
}

#mensaje {
    border-radius: 5px;
}

#submit {
    width: 70%;
    height: 30px;
    background-color: #3c3744;
    color: #fafafa;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 15px 15px -5px #3c3744;
}

