* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main-layout {
    display: grid;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
      'header		header'
      'main         main'
      'footer       footer';
}

.header {
    grid-area: header;
    background-color: #7441C7;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    color: hsl(0, 0%, 100%);
}

.logo-menu {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
}

.sections-desktop {
    display: none;
}

#menu {
    display: none;
}

#menu:checked ~ .sections-mobile {
    position: fixed;
    top: 6.2rem;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: hsl(217, 19%, 35%, 90%);
}

.sections-mobile {
    display: none;
}

.item-mobile {
    line-height: 5rem;
    font-size: 1.5rem;
}

.item-mobile:hover {
    margin: 1rem;
    width: 90%;
    background-color:hsl(219, 29%, 14%, 40% );
    text-align: center;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}

.sections {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.main {
    grid-area: main;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin-top: 1rem;
}

.card {
    margin: 0 1.5rem;
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 9px 15px -4px #494747;
}

.card-header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.card-img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.profile-conteiner {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.profile-info-black {
    font-size: 0.8rem;
    color:rgba(48, 45, 45, 0.7);
}

.profile-info-white {
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%, 0.5);
}

.card-title {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.card-info-white {
    margin: 1rem 0;
    color: hsl(0, 0%, 100%, 0.5);
    line-height: 1.4rem;
}

.card-info-black {
    margin: 1rem 0;
    color: rgba(48, 45, 45, 0.7);
    line-height: 1.4rem;
}

/* Cada card*/

.n1 {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url(../assets/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 6rem top;
    
}

.n2 {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.n3 {
    background-color:hsl(0, 0%, 100%) ;
}

.n4 {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.n5{
    background-color: hsl(0, 0%, 100%);
}

.footer {
    grid-area: footer;
    background-color: hsl(217, 19%, 35%);
    margin-top: 1rem;
}

.networks {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
  
.link-img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.link-img:hover {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.3s ease;
}
  
  @media (min-width: 48em) {
   
    .main {
        margin: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .n1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .n2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
        
    .n3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .n4 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    
    .n5{
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    
    .card {
        margin: 0;
    }

    .logo-menu {
        display: none;
    }
    
    .sections-desktop {
        display: flex;
        
        list-style: none;
        margin: 1rem;
        align-self: end;
    }

    .sections {
        margin: 0 1rem;
        font-size: 1.2rem;
    }

    .sections:hover {
        background-color: #49287e;
        padding: 0.5rem;
        border-radius: 10px;
        color: #be9bf8;
        transition: all 0.3s ease;
    }

    .footer {
        margin-top: 0;
    }

}
