* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

.main__layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'header		header'
      'banner       banner'
      'main         main'
      'footer       footer';
}

.container {
    margin: 0 1.5rem;
}

.header {
    grid-area: header;
    background-image: url(../assets/mobile/image-hero.jpg);
    background-size: cover;
    color: hsl(0, 0%, 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem  0rem;
}

.navbar__logo {
    width: 9rem;
    height: auto;
    position: absolute;
    z-index: 1;
}

.nabvar__menu--img {
    position: absolute;
    z-index: 2;
    right: 1.5rem;
}

#navbar__menu {
    display: none;
}

#navbar__menu:checked ~ .navbar__menu--mobile {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style: none;
    background-color: hsl(0, 0%, 0%);
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 4rem;
    font-size: 1.6rem;
}   

.navbar__menu--desktop {
    display: none;
}

.navbar__menu--mobile {
    display: none;
}

.navbar__mobile--item {
    margin-left: 1.5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.header__title {
    border: 2px solid hsl(0, 0%, 100%);
    margin: 10.2rem 0 14.5rem 0;
    padding: 1.7rem 1.6rem 1.2rem 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    letter-spacing: 1px;
    bottom: 0;
}

.banner__layout {
    grid-area: banner;
}

.banner__container {
    margin-top: 6rem;
}

.banner__img {
    background-image: url(../assets/mobile/image-interactive.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}

.banner__card {
    margin-top: 2.8rem;
}

.banner__card--title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.banner__card--text {
    margin-top: 1.3rem;
    padding: 0 0.5rem;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    line-height: 1.6rem;
    text-align: center;
}

.creations__layout {
    grid-area: main;
}

.creations__header--title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6.2rem;
}

.creations__header--btn {
    display: none;
}

.creations__cards--container {
    margin-top: 3.1rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: 7.6rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    padding: 1.2rem;
}

.card:hover {
    opacity: 0.4;
    cursor: pointer;
}

.card--earth {
    background-image: url(../assets/mobile/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
}

.card--arcade {
    background-image: url(../assets/mobile/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
}

.card--soccer {
    background-image: url(../assets/mobile/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
}

.card--thegrid {
    background-image: url(../assets/mobile/image-grid.jpg);
    background-position: center;
    background-size: cover;
}

.card--from {
    background-image: url(../assets/mobile/image-from-above.jpg);
    background-position: center;
    background-size: cover;
}

.card--borealis {
    background-image: url(../assets/mobile/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
}

.card--curiosity {
    background-image: url(../assets/mobile/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
}

.card--fisheye {
    background-image: url(../assets/mobile/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
}

.creations__mobile--container {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    margin-bottom: 6rem;
}

.creations__mobile--btn {
    padding: 1rem 2.6rem 0.7rem 2.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: none;
    border: 1px solid;
}

.creations__mobile--btn:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.footer {
    grid-area: footer;
    background-color: hsl(0, 0%, 0%);
    padding-bottom: 4rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.8rem;
}

.footer__logo {
    width: 9rem;
    height: auto;
}

.footer__menu {
    margin-top: 1.4rem;
    list-style: none;
    font-family:'Alata', sans-serif; 
    line-height: 2.6rem;
    text-align: center;
}

.footer__menu--item {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
}

.footer__menu--item::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
    bottom: -0.5rem;
    left: 25%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footer__menu--item:hover::before { 
    transform-origin: left;
    transform: scaleX(1);
}

.footer__links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer__link--logo {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer__link--logo:hover {
    border-bottom: 2px solid hsl(0, 0%, 100%);
    cursor: pointer;
}

.footer__rights {
    margin-top: 2rem;
    color: hsl(0, 0%, 41%);
    font-family:'Alata', sans-serif;
}

@media (min-width: 768px) {

    .navbar {
        margin: 3.7rem  0rem;
    }

    .nabvar__menu--img {
        display: none;
    }

    .navbar__menu--desktop {
        display: flex;
        list-style: none;
        font-family:'Alata', sans-serif;
        font-size: 0.8rem;
    }
    
    .navbar__desktop--item {
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        margin-left: 1.7rem;
        margin-right: 0.5rem;
        position: relative;
    }

    .navbar__desktop--item::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        border-radius: 4px;
        background-color: hsl(0, 0%, 100%);
        bottom: -0.5rem;
        left: 25%;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    
    .navbar__desktop--item:hover::before { 
        transform-origin: left;
        transform: scaleX(1);
    }

    .banner__img {
        height: 50vh;
    }
    
    .creations__header {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .creations__header--btn {
        display: inline;
        padding: 1rem 2.6rem 0.7rem 2.6rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 3px;
        background: none;
        border: 1px solid;
        height: 2.5rem;
        align-self: flex-end;
    }

    .creations__header--btn:hover {
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
    }

    .creations__cards--container {
        grid-auto-rows: 20rem;
    }
    
    .creations__mobile--container {
        display: none;
    }

    .footer {
        margin-top: 10rem;
        padding-bottom: 1.5rem;
    }
    
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.5rem;
    }
    
    .footer__menu {
        display: flex;
    }
    
    .footer__menu--item {
        margin-right: 1.5rem;
        font-size: 0.9rem;
    }
    
    .footer__links {
        margin-top: 0;
        margin-bottom: 1rem;
        justify-content: end;
    }
}

@media (min-width: 1024px) {
  
    .container {
        margin: 0 8rem;
    }

    .header {
        background-image: url(../assets/desktop/image-hero.jpg);
        background-position: bottom;
    }

    .header__title {
        width: 60%;
        padding: 1.8rem 1.6rem 1.6rem  1.6rem;
        margin-top: 6.9rem;
        margin-bottom: 9rem;
        font-size: 3.8rem;
        line-height: 3.8rem;
    }

    .banner__layout {
        margin-top: 7rem;
    }

    .banner__container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .banner__img {
        background-image: url(../assets/desktop/image-interactive.jpg);
        display: inline;
        grid-column: 1 / 6;
        grid-row: 1 / 4;
        height: 100%;
    }

    .banner__card {
        margin: 0;
        padding-top: 4rem;
        padding-left: 5rem;
        background-color: hsl(0, 0%, 100%);
        grid-column: 5 / 9;
        grid-row: 2 / 4;
    }

    .banner__card--title {
        text-align: left;
        font-size: 3rem;
    }

    .banner__card--text {
        font-size: 0.9rem;
        text-align: left;
        padding: 0;
        line-height: 1.5rem;
        align-items: end;
    }
    
    .creations__header--title {
        font-size: 2.8rem;
    }
    
    .creations__cards--container {
       grid-auto-rows: 30rem;
    }

    .card {
        font-size: 2rem;
        padding: 1.7rem;
    }

    .card--earth {
        background-image: url(../assets/desktop/image-deep-earth.jpg);
    }
    
    .card--arcade {
        background-image: url(../assets/desktop/image-night-arcade.jpg);
    }
    
    .card--soccer {
        background-image: url(../assets/desktop/image-soccer-team.jpg);
    }
    
    .card--thegrid {
        background-image: url(../assets/desktop/image-grid.jpg);
    }
    
    .card--from {
        background-image: url(../assets/desktop/image-from-above.jpg);
    }
    
    .card--borealis {
        background-image: url(../assets/desktop/image-pocket-borealis.jpg);
    }
    
    .card--curiosity {
        background-image: url(../assets/desktop/image-curiosity.jpg);
    }
    
    .card--fisheye {
        background-image: url(../assets/desktop/image-fisheye.jpg);
    }
}