* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 1rem;
}

.main-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'header		header'
      'banner       banner'
      'main         main'
      'footer       footer';
}

.margin-conteiner {
    margin: 0 1.5rem;
}

.header {
    grid-area: header;
    background-image: url(../assets/mobile/image-hero.jpg);
    background-size: cover;
    /* background-position: center; */
    color: hsl(0, 0%, 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem  0rem;
}

.logo {
    width: 9rem;
    height: auto;
}

/* Evitar seleccionar por IDs */
#menu {
    display: none;
}


#menu:checked ~ .menu-mobile {
    position: fixed;
    top: 6.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style: none;
    background-color: hsl(0, 0%, 0%);
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 4rem;
    font-size: 1.6rem;
}   

.menu-desktop {
    display: none;
}

.menu-mobile {
    display: none;
}

.item-mobile {
    margin-left: 1.5rem;
}

.sections-mobile {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.header-title {
    border: 2px solid hsl(0, 0%, 100%);
    margin: 10.2rem 0 14.5rem 0;
    padding: 1.7rem 1.6rem 1.2rem 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    letter-spacing: 1px;
    bottom: 0;
}

.banner-layout {
    grid-area: banner;
}

.img-banner-mobile {
    width: 100%;
    margin-top: 6.2rem;
}

.banner-desktop {
    display: none;
}

.banner-card {
    margin-top: 2.8rem;
}

.banner-card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.banner-card-text {
    margin-top: 1.3rem;
    padding: 0 0.5rem;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    line-height: 1.6rem;
    text-align: center;
}

.main {
    grid-area: main;
}

.section-header-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6.2rem;
}

.section-btn {
    display: none;
}

.section-layout {
    margin-top: 3.1rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: 7.6rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    padding: 1.2rem;
}

.card:hover {
    opacity: 0.3;
    cursor: pointer;
}

.n1 {
    background-image: url(../assets/mobile/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
}

.n2 {
    background-image: url(../assets/mobile/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
}

.n3 {
    background-image: url(../assets/mobile/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
}

.n4 {
    background-image: url(../assets/mobile/image-grid.jpg);
    background-position: center;
    background-size: cover;
}

.n5 {
    background-image: url(../assets/mobile/image-from-above.jpg);
    background-position: center;
    background-size: cover;
}

.n6 {
    background-image: url(../assets/mobile/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
}

.n7 {
    background-image: url(../assets/mobile/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
}

.n8 {
    background-image: url(../assets/mobile/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
}

.mobile-btn-conteiner {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    margin-bottom: 6rem;
}

.mobile-btn {
    padding: 1rem 2.6rem 0.7rem 2.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: none;
    border: 1px solid;
}

.mobile-btn:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.footer {
    grid-area: footer;
    background-color: hsl(0, 0%, 0%);
    padding-bottom: 4rem;
}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.8rem;
}

.footer-logo {
    width: 9rem;
    height: auto;
}

.menu-footer {
    margin-top: 1.4rem;
    list-style: none;
    font-family:'Alata', sans-serif; 
    line-height: 2.6rem;
}

.sections-footer {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.sections-footer:hover {
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.item-footer-menu {
    text-align: center;
}

.footer-networks {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.link-img {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}

.link-img:hover {
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.footer-rights {
    margin-top: 2rem;
    color: hsl(0, 0%, 41%);
    font-family:'Alata', sans-serif;
}

@media (min-width: 768px) {

    .navbar {
        margin: 3.7rem  0rem;
    }

    .logo-menu {
        display: none;
    }

    .menu-desktop {
        display: flex;
        list-style: none;
        font-family:'Alata', sans-serif;
        font-size: 0.8rem;
    }
    
    .sections-desktop {
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        margin-left: 1.7rem;
        margin-right: 0.5rem;
    }

    .sections-desktop:hover {
        border-bottom: 1px solid hsl(0, 0%, 100%);
    }
    
    .section-header {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .section-btn {
        display: inline;
        padding: 1rem 2.6rem 0.7rem 2.6rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 3px;
        background: none;
        border: 1px solid;
        height: 2.5rem;
        align-self: flex-end;
    }

    .section-btn:hover {
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
    }

    .section-layout {
        grid-auto-rows: 20rem;
    }
    
    .mobile-btn-conteiner {
        display: none;
    }

    .footer {
        margin-top: 10rem;
        padding-bottom: 1.5rem;
    }
    
    .footer-conteiner {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.5rem;
    }
    
    .menu-footer {
        display: flex;
    }
    
    .item-footer-menu {
        margin-right: 1.5rem;
        font-size: 0.9rem;
    }
    
    .footer-networks {
        margin-top: 0;
        margin-bottom: 1rem;
        justify-content: end;
    }
}

@media (min-width: 1024px) {
  
    .margin-conteiner {
        margin: 0 8rem;
    }

    .header {
        background-image: url(../assets/desktop/image-hero.jpg);
        background-position: bottom;
    }

    .header-title {
        width: 60%;
        padding: 1.8rem 1.6rem 1.6rem  1.6rem;
        margin-top: 6.9rem;
        margin-bottom: 9rem;
        font-size: 3.8rem;
        line-height: 3.8rem;
    }

    .banner-layout {
        margin-top: 7rem;
    }

    .banner-conteiner {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .banner-mobile {
        display: none;
    }

    .banner-desktop {
        display: inline;
        grid-column: 1 / 6;
        grid-row: 1 / 4;
    }
    
    .img-banner-desktop {
        width: 100%;
        height: 100%;
    }

    .banner-card {
        margin: 0;
        padding-top: 4rem;
        padding-left: 5rem;
        background-color: hsl(0, 0%, 100%);
        grid-column: 5 / 9;
        grid-row: 2 / 4;
    }

    .banner-card-title {
        text-align: left;
        font-size: 3rem;
    }

    .banner-card-text {
        font-size: 0.9rem;
        text-align: left;
        padding: 0;
        line-height: 1.5rem;
        align-items: end;
    }
    
    .section-header-title {
        font-size: 2.8rem;
    }
    
    .section-layout {
       grid-auto-rows: 30rem;
    }

    .card {
        font-size: 2rem;
        padding: 1.7rem;
    }

    .n1 {
        background-image: url(../assets/desktop/image-deep-earth.jpg);
    }
    
    .n2 {
        background-image: url(../assets/desktop/image-night-arcade.jpg);
    }
    
    .n3 {
        background-image: url(../assets/desktop/image-soccer-team.jpg);
    }
    .n4 {
        background-image: url(../assets/desktop/image-grid.jpg);
    }
    
    .n5 {
        background-image: url(../assets/desktop/image-from-above.jpg);
    }
    
    .n6 {
        background-image: url(../assets/desktop/image-pocket-borealis.jpg);
    }
    
    .n7 {
        background-image: url(../assets/desktop/image-curiosity.jpg);
    }
    
    .n8 {
        background-image: url(../assets/desktop/image-fisheye.jpg);
    }
}